<h1> List of Book(s) Available</h1>
<div class="container">
<table class="table">   
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Sold</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.description}}</td>
            <td>{{book.sold}}</td>
            <!-- | pipe symbol used to format -->
            <td>{{book.publishedDate | date | uppercase}}</td>
        </tr>
    </tbody>
</table>
</div>